@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

@layer base {
  .btn-gradient {
    @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30  !text-white;
  }
  .btn {
    @apply !capitalize;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 215 100% 12%;

    --muted: 210 40% 96%;
    --muted-foreground: 215 25% 27%;

    --popover: 0 0% 100%;
    --popover-foreground: 215 100% 12%;

    --card: 0 0% 100%;
    --card-foreground: 215 100% 12%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;

    --primary: 151 100% 45%;
    --primary-foreground: 215 100% 12%;

    --secondary: 215 100% 12%;
    --secondary-foreground: 0 0% 100%;

    --accent: 151 100% 45%;
    --accent-foreground: 215 100% 12%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --ring: 151 100% 45%;

    --radius: 0.5rem;

    --chart-1: 151 100% 45%;
    --chart-2: 215 100% 12%;
    --chart-3: 220 14% 66%;
    --chart-4: 151 50% 60%;
    --chart-5: 215 50% 30%;
  }

  .dark {
    --background: 215 100% 12%;
    --foreground: 0 0% 100%;

    --muted: 215 50% 16%;
    --muted-foreground: 215 20% 65%;

    --popover: 215 100% 12%;
    --popover-foreground: 0 0% 100%;

    --card: 215 100% 12%;
    --card-foreground: 0 0% 100%;

    --border: 215 50% 16%;
    --input: 215 50% 16%;

    --primary: 151 100% 45%;
    --primary-foreground: 215 100% 12%;

    --secondary: 220 14% 66%;
    --secondary-foreground: 0 0% 100%;

    --accent: 151 100% 45%;
    --accent-foreground: 215 100% 12%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;

    --ring: 151 100% 45%;

    --chart-1: 151 100% 45%;
    --chart-2: 0 0% 100%;
    --chart-3: 220 14% 66%;
    --chart-4: 151 50% 60%;
    --chart-5: 215 50% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
